---
 title: Great VFX list
 version: 2
 timezone: Europe/Moscow
 vault: /Path/to/Vault

 vendors:
  - path: One/in/#
    name: One
  - path: Two/in/hires/#
    name: Two
  - path: Three/in/*/#/EXR
  - path: Four/in/#
    name: Four

 regexp:
    - re: /^(?P<scene>[A-Z]{2,3})_(?P<index>\d{4})_?(?P<opt>\w+)?_V(?P<ver>\d{1,3})_?(?P<mod>\w+)?$/iu
      type: valid
    - re: /^(?P<scene>[A-Z]{3})_(?P<index>\d{4})(?:_(?P<rem>\w+))?$/iu
      type: warn