body {
	margin-left: 100px;
	width: 700px;
	font-family: sans-serif;
}
.listscenes {
	font-weight: bold;
	font-size: 1.2em;
	list-style-image: url(images/clapperboard.png);
}         
.listdates {
	font-weight: bold;
	font-size: 1.2em;
	list-style-image: url(images/calendar.png);
} 
.toggleitem {
	cursor: pointer;
	padding: 5px;
}
.listshots {
	font-family: monospace;
	font-weight: normal;
	font-size: 1rem;
	list-style-type: square;
	list-style-image: none;
}
.active, .toggleitem:hover {
	background-color: #DDD;
}
.shotname {
	padding: 3px;
	cursor: pointer;
}
.shotname:hover {
	background-color: #DDD;
}
.content {
	display: none;
	background-color: #EEE;
}
.count {
	font-size: 0.6em;
	font-weight: normal;
	margin-left: 3em;
}
.valid::marker {
	color: green;
	font-size: 1.5em;
}
.warn::marker {
	color: yellow;
	font-size: 1.5em;
}
.error::marker {
	color: red;
	font-size: 1.5em;
}
.shotname .infotext {
	font-size: 0.7em;
	padding: 5px;
	visibility: hidden;
	width: 500px;
	height: 100px;
	border: 1px solid black;
	position: absolute;
	z-index: 1;
	left: 300px;
	background-color: white;
}
.shotname:hover .infotext {
	visibility: visible;
}
.info {
	padding: 20px;  
	font-size: 1em; 
	color: silver;
	display: none;
}
.timestamp {
	text-align: right;
	font-weight: bold;
	font-size: 1em;
	padding: 5px;
	background-color: rgb(240, 240, 240);
}
.total {
	text-align: right;
	font-weight: bold;
	font-size: 1em;
	padding: 5px;
	background-color: rgb(240, 240, 240);
}

